/* helpers */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.float-left {
	float: left;
}

/* map styles */
html,
body {
	height: 100%;
}
#map {
	width: 100%;
	height: 100%;
}
#ui {
	width: 16%; height: 99.8%;
	top: 0; right: 0;
	position: absolute;
	padding: 0 2%;
	border: 1px solid #FFF;
	z-index: 1;
	box-shadow: -3px 0 6px #666;
	background: #1C3664;
	color: #FFF;
}
#ui uiContent {
	overflow: hidden;
}
#ui h1 {
	margin-top: .5em;
}
#ui input {
	width: 100%;
}
#ui dl {
	width: 100%;
	padding-bottom: .75em;
	margin-bottom: 2em;
	border-bottom: 1px dashed #AAA;
}
#ui dt,
#ui dd {
	margin-bottom: 1em;
	float: left;
}
#ui dt {
	width: 50%;
	margin-right: 1em;
	clear: both;
}
#ui dd {
	font-weight: bold;
}
body > #hqInfo {
	display: none;
}
#hqInfo {
	width: 370px;
	margin-top: -.5em;
}
#hqInfo img {
	margin-top: 2em;
	margin-right: .5em;
}
#hqInfo h1 {
	margin-bottom: .25em;
}
#hqInfo p {
	margin-top: 0;
}
#journey {
	margin-top: 2em;
}
#journey h3 {
	margin-bottom: .25em;
}

/* browser height indicator */
#browserHeightIndicator {
	bottom: 0; left: 50%;
	width: 300px;
	position: absolute;
	display: none;
	margin-left: -150px;
	padding: 0 10px;
	background: #FFF;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px 1px 5px #333;
}
#browserHeightIndicator p {
	color: #333;
	font-size: 10px;
	text-align: center;
}